{{- $href := (.Destination | safeURL) -}}
{{- $text := (.Text | safeHTML) -}}
{{- $internal := urls.Parse $href -}}
{{- $fullPath := print $internal.Path | relLangURL -}}
{{- $prefix := "/_docs-dash-sidebar" -}}
{{- if and (strings.HasPrefix $href "http") (not (in $href "developers.cloudflare.com")) -}}
  {{- partial "external.link" (dict "url" $href "text" $text) -}}
{{- else if and (or (strings.HasPrefix $href "/api/") (in $href "developers.cloudflare.com/api/")) (ne $.Page.RelPermalink "/") -}}
  {{- partial "api.link" (dict "url" $href "text" $text) -}}   
{{- else -}}
{{- $prefixedURL := printf "%s%s" $prefix $href -}}
<a href={{ $prefixedURL | safeURL }} class="DocsMarkdown--link"><span class="DocsMarkdown--link-content">{{- $text -}}</span></a>

{{- end -}}